[Unit]
Description=Load preloaded Docker image from OCI tarball
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/preload-image.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
