[Unit]
Description=WebSocket to VNC proxy (websockify)
Requires=websockify.socket

[Service]
Type=simple
ExecStart=/usr/bin/websockify --fd 3 localhost:5900
Restart=on-failure
RestartSec=2
