[Unit]
Description=x11vnc VNC server (per-connection)
Requires=xvfb.service
After=xvfb.service

[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -inetd -display :99 -once -shared -nopw
StandardInput=socket
StandardOutput=socket
StandardError=journal
